# Rango de escaneo en metros (solo detectar beacons dentro de este rango)
SCAN_RANGE=30

# Habilitar o deshabilitar la validación de distancia estricta para guardar eventos (true/false)
VALIDATE_DISTANCE=true

# Tiempo de gracia en segundos antes de cerrar un evento (debounce)
DEBOUNCE_TIME=60

# Tiempo máximo sin detectar un beacon antes de cerrar automáticamente su evento (en segundos)
BEACON_TIMEOUT=300

# Prefijo MAC de los beacons a procesar (solo estos serán guardados)
TARGET_MAC_PREFIX=af:20:24

# Identificador de la unidad/dispositivo scanner
UNIT=TEST_UNIT_2

# Configuración de API
API_BASE_URL=http://172.235.133.30:3001/api/v1

# Configuración de sincronización periódica a la base de datos principal (en Segundos)
SYNC_INTERVAL=30
# Tiempo que espera el sistema al iniciar antes de su primera sincronización (en Segundos)
INITIAL_SYNC_DELAY=10
# Habilitar o deshabilitar chequeo de ping de internet antes de sincronizar (true/false)
SKIP_INTERNET_CHECK=false

# Configuración de base de datos
DB_FILE=beacons.db

# Configuración del servidor web
WEB_PORT=3000

# Configuración de logging (opcional)
LOG_LEVEL=info
NODE_ENV=production

# Variables para MQTT y WiFi
MQTT_COMPANY=gunjop
MQTT_BROKER=mqtt://paranoid.lat:1883
MQTT_USERNAME=cerrolindo
MQTT_PASSWORD=cerrolindo123
# Intervalo de envío de datos MQTT con la ubicación y lista de beacons (en Segundos)
MQTT_INTERVAL=60
WIFI_PORT=3035
WIFI_DB_FILE=wifi_status.db