# Configuración del Scanner BLE para Raspberry Pi
# Copia este archivo como .env y ajusta los valores según tu entorno

# Rango de escaneo en metros (solo detectar beacons dentro de este rango)
SCAN_RANGE=120

# Tiempo de gracia en segundos antes de cerrar un evento (debounce)
DEBOUNCE_TIME=300

# Tiempo máximo sin detectar un beacon antes de cerrar automáticamente su evento (en segundos)
BEACON_TIMEOUT=600

# Prefijo MAC de los beacons a procesar (solo estos serán guardados)
TARGET_MAC_PREFIX=bc:57:29

# Identificador de la unidad/dispositivo scanner
UNIT="EVA-01"

# Configuración de API
API_BASE_URL=http://172.235.133.30:3001/api/v1

# Configuración de sincronización
SYNC_INTERVAL=30000
INITIAL_SYNC_DELAY=10000
SKIP_INTERNET_CHECK=false

# Configuración MQTT
MQTT_COMPANY="porvenir"
MQTT_BROKER=mqtt://paranoid.lat:1883
MQTT_USERNAME=nexa.gunjop.tablets
MQTT_PASSWORD=*C8wjJr9jK5fJ1&UL4h2VY5
MQTT_INTERVAL=3000